@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
	font-family: Titulo;
	src: url(../assets/fontes/1up.ttf);
}

@font-face {
	font-family: placar;
	src: url(../assets/fontes/VCR_OSD_MONO_1.001.ttf);
}

h1 {
	font-family: Titulo;
	font-size: 56px;
	color: #333;
	text-shadow: #CCC 1px 0 10px;
	margin-top: 50px;
}

body {
	background-image: url(../assets/images/fundo_game.png);
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding:0; 
}

#container {
	width: 100vw;
	height: 100vh;
	position: absolute;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#fundoGame {
	width: 100vw;
	height: 100vh;
	background-image: url(../assets/images/fundo_game.png);
}

#jogador {
	width: 160px;
	height: 121px;
	position: absolute;
	left: 5vw;
	top: 30vh;
    background-image: url(../assets/images/hero.png);
	background-size: cover;
	background-repeat: no-repeat;
}

#inimigo1 {
	width: 160px;
	height: 121px;
	position: absolute;
	left: 100vw;
	top: 60vh;
	background-image:url(../assets/images/monster-0.png);
	background-size: cover;
	background-repeat: no-repeat;
	
}

#inimigo2 {
	width: 160px;
	height: 121px;
	position: absolute;
	left: 100vw;
	top: 65vh;
	background-image: url(../assets/images/monster-stf.png);
	background-size: cover;
	background-repeat: no-repeat;
}

#amigo {
	width: 90px;
	height: 83px;
	position: absolute;
	left: -90px;
	top: 65vh;
	background-image:url(../assets/images/amigo.png);
	background-size: cover; 
}

#botao-subir {
	width: 90px;
	height: 90px;
	background-color: rgba(255, 255, 255, 0.097);
	background-image: url(../assets/images/botao-subir.png);
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 100%;
	cursor: pointer;
	position: absolute;
	left: 10vw;
	top: 70vh;
}

#botao-descer {
	width: 90px;
	height: 90px;
	background-color: rgba(255, 255, 255, 0.097);
	background-image: url(../assets/images/botao-descer.png);
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 100%;
	cursor: pointer;
	position: absolute;
	left: 10vw;
	top: 85vh;
}
#botao-subir:active:hover, #botao-descer:active:hover {
	background-color: #a1d70160 !important;
}

#botao-atirar {
	width: 120px;
	height: 120px;
	background-color: rgba(255, 255, 255, 0.097);
	background-image: url(../assets/images/mira.png);
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 100%;
	cursor: pointer;
	position: absolute;
	left: calc(100vw - 20%);
	top: 80vh;
}
#botao-atirar:active:hover {
	background-color: #ff040460 !important;
}

#inicio {
	width: 450px;
	height: 450px;
 	margin-left: auto;
    margin-right: auto;
 	margin-top: 10px;
	text-align: center;
	padding: 80px;
	font-family: 'Roboto';
	background-image: url(../assets/images/planeta.png);
	background-repeat: no-repeat;
	background-size: cover;
}

#inicio p {
	padding: 5px;
	background-color: rgba(255, 255, 255, 0.705);
}

.anima1 {
	background-image: url(../assets/images/hero.png);
	animation: rotation .400s infinite;

    -webkit-animation: rotation .400s infinite;
    -moz-animation: rotation .400s infinite;
    -ms-animation: rotation .400s infinite;
    -o-animation: rotation .400s infinite;
}

.anima2 {
	background-image: url(../assets/images/inimigo-0.png);
	animation: rotation .400s infinite;

    -webkit-animation: rotation .400s infinite;
    -moz-animation: rotation .400s infinite;
    -ms-animation: rotation .400s infinite;
    -o-animation: rotation .400s infinite;
}

@keyframes rotation {
	from { transform: rotate(0deg);	}
	to { transform: rotate(2deg) }
}

@-webkit-keyframes rotation {
	from { transform: rotate(0deg);	}
	to { transform: rotate(2deg) }
}

@-moz-keyframes rotation {
	from { transform: rotate(0deg);	}
	to { transform: rotate(2deg) }
}

@-ms-keyframes rotation {
	from { transform: rotate(0deg);	}
	to { transform: rotate(2deg) }
}

@-o-keyframes rotation {
	from { transform: rotate(0deg);	}
	to { transform: rotate(2deg) }
}

.anima3 {
	background-image: url(../assets/images/amigo.png);
    animation: rotation .600s infinite;

    -webkit-animation: rotation .600s infinite;
    -moz-animation: rotation .600s infinite;
    -ms-animation: rotation .600s infinite;
    -o-animation: rotation .600s infinite;
}

#disparo {
	width: 113px;
	height: 54px;
	position: absolute;
	background-image: url(../assets/images/disparo.png);
}

#explosao1 {
	width: 15px;
	height: 87px;
	position: absolute;
}

#explosao2 {
	width: 15px;
	height: 87px;
	position: absolute;	
}

#explosao3 {
	width: 180px;
	height: 135px;
	position: absolute;
}

.anima4 {
	width: 180px;
	height: 135px;
	background-image: url(../assets/images/amigo_morte.png);
	background-size: cover;
	animation: fadeinout 1s linear forwards;
    opacity: 0;

	-webkit-animation: fadeinout 1s linear forwards;
    -moz-animation: fadeinout 1s linear forwards;
    -ms-animation: fadeinout 1s linear forwards;
    -o-animation: fadeinout 1s linear forwards;
}

@keyframes fadeinout  {
	50% { opacity: 1; }
}

@-webkit-keyframes fadeinout  {
	50% { opacity: 1; }
}

@-moz-keyframes fadeinout  {
	50% { opacity: 1; }
}

@-ms-keyframes fadeinout  {
	50% { opacity: 1; }
}

@-o-keyframes fadeinout  {
	50% { opacity: 1; }
}

#placar {
	width: 600px;
	height: 50px;
	position: absolute;
	left: 120px;
	top: 7px;
}
#placar h2 {
	font-family: placar !important;
}
#placar .nivel-medio {
	color: #cee938;
}
#placar .nivel-alto {
	color: #e9e338;
}
#placar .nivel-muito-alto {
	color: #e9ab38;
}
#placar .nivel-insano {
	color: #e95838;
}

h2 {
	font-family: Titulo;
	font-size: 20px;
	color: #FFF;
}

#energia {
	width: 140px;
	height: 38px;
	position: absolute;
	left: 79vw;
	top: 7px;	
}

h3 {
	font-family: Titulo;
	font-size: 20px;
	color: #217a21;
}

#fim {
	width: 350px;
	height: 270px;
	background-color: #FFF;
 	margin-left: auto;
    margin-right: auto;
 	margin-top: 18vh;
	margin-bottom: 0;
	text-align: center;
	padding: 20px;
	font-family: 'Roboto';
}

#fim h1 {
	font-size: 2.4em;
	margin-top: 10px;
}

#fim b {
	font-family: placar;
}

footer {
	background-color: #030018;
	text-align: center;
	margin-top: 100px;
	border-color: #010009;
	border-style: solid;
	color: #999;
	width: 950px;
	height: 140px;
 	margin-left: auto;
	margin-right: auto;
	font-family: 'Roboto';
}
footer a {
	color: rgb(236, 232, 232);
}

#reinicia {
	cursor: pointer;
}

@media (max-width: 660px)
{
	#botao-atirar {
		width: 60px;
		height: 60px;
		position: absolute;
		left: 75vw;
		top: 85vh;
	}

	#botao-subir, #botao-descer {
		width: 45px;
		height: 45px;
	}

	#botao-subir {
		position: absolute;
		left: 10vw;
		top: 80vh;
	}

	#botao-descer {
		position: absolute;
		left: 10vw;
		top: 90vh;
	}

	#placar {
		width: 200px;
		position: absolute;
		left: 10px;
		top: 0px;
	}

	#placar h2 {
		font-family: placar !important;
		font-size: 0.9em;
	}

	#energia {
		width: 110px;
		height: 30px;
		position: absolute;
		left: 68vw;
		top: 7px;
		background-size: cover;
	}

	#jogador, #inimigo1, #inimigo2 {
		width: 80px;
		height: 60px;
	}
	
	#amigo {
		width: 45px;
		height: 42px;
	}
	
	#explosao3 {
		width: 150px;
		height: 113px;
	}

	#inicio {
		width: 400px;
		height: 400px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 40%;
		text-align: center;
		padding: 0;
	}
	
	#inicio p {
		padding: 5px;
		background-color: rgba(255, 255, 255, 0.705);
	}

	h1 {
		padding-top: 2em;
		color: rgb(0, 10, 15);
		text-shadow: rgb(255, 253, 253) 2px 0 10px;
		position: relative;
		font-size: 45px;
	}

	#fim {
		width: 300px;
		height: 220px;
		margin-top: 18vh;
		margin-bottom: 0;
	}
	#fim h1 {
		margin: 0;
		padding: 0;
	}
}
@media (max-width: 1080px) and (orientation: landscape)
{
	#botao-atirar {
		width: 60px;
		height: 60px;
		position: absolute;
		left: 85vw;
		top: 80vh;
	}

	#botao-subir, #botao-descer {
		width: 45px;
		height: 45px;
	}

	#botao-subir {
		position: absolute;
		left: 5vw;
		top: 85vh;
	}

	#botao-descer {
		position: absolute;
		left: 15vw;
		top: 85vh;
	}

	#placar {
		width: 450px;
    	height: 80px;
		position: absolute;
		left: 20px;
		top: 5px;
	}

	#placar h2 {
		font-family: placar !important;
		font-size: 0.9em;
	}

	#energia {
		width: 110px;
		height: 30px;
		position: absolute;
		left: 80vw;
		top: 7px;
		background-size: cover;
	}

	#jogador, #inimigo1, #inimigo2 {
		width: 80px;
		height: 60px;
	}
	
	#amigo {
		width: 45px;
		height: 42px;
	}
	
	#explosao3 {
		width: 150px;
		height: 113px;
	}
	#inicio {
		width: 400px;
		height: 400px;
		margin-left: auto;
		margin-right: auto;
		margin-top: -50px;
		text-align: center;
		padding: 0;
	}
	
	#inicio p {
		padding: 5px;
		background-color: rgba(255, 255, 255, 0.705);
	}
	h1 {
		padding-top: 2em;
		color: rgb(0, 10, 15);
		text-shadow: rgb(255, 253, 253) 2px 0 10px;
		position: relative;
		font-size: 45px;
	}
	#fim {
		width: 350px;
		height: 220px;
		margin-top: 18vh;
		margin-bottom: 0;
	}
	#fim h1 {
		margin: 0;
		padding: 0;
	}
}

@media (max-width: 380px)
{
	#inicio {
		width: 350px;
		height: 350px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 40%;
		text-align: center;
		padding: 0;
	}

	#inicio h1 {
		font-size: 2.4em;
	}
}